.btn_tip {
  background-color: hsl(183, 100%, 15%) !important ;
  color: hsl(0, 0%, 100%) !important;
  width: 80px !important;
}
.btn_tip_selected {
  background-color: hsl(172, 67%, 45%) !important;
  color: hsl(183, 100%, 15%) !important;
  width: 80px !important;
}

.btn_tip:hover {
  background-color: hsl(172, 67%, 45%) !important;
  color: hsl(183, 100%, 15%) !important;
}

.custom_tip {
  width: 80px !important;
  direction: rtl !important;
}
.input {
  direction: rtl !important;
}
.person_logo {
  position: absolute !important;
  top: 70% !important;
  left: 30%;
}
@media only screen and (max-width: 375px) {
}
